
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dashboard - FLATY Admin</title>
    <meta name="description" content="">
    <meta name="google-signin-client_id" content="187428113232-gad3r2av76i3gucv45m97jqvrvak3ilf.apps.googleusercontent.com">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/assets/bootstrap/css/bootstrap-social.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css">
    <link href="~/assets/data-tables/bootstrap3/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;subset=vietnamese" rel="stylesheet">    <!--flaty css styles-->
    <link rel="stylesheet" href="~/Content/flaty.css">
    <link rel="stylesheet" href="~/Content/flaty-responsive.css">
    <link rel="stylesheet" href="~/assets/Print/print.min.css">
    <script src="~/assets/google-chart/chart-google.min.js"></script>

    <link rel="shortcut icon" href="~/img/favicon.html">
    <script src="~/assets/jquery/jquery-2.1.1.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link href="~/Content/Clock.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <script src="~/Scripts/function.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="google-signin-client_id" content="187428113232-gad3r2av76i3gucv45m97jqvrvak3ilf.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css">
    <link href="~/assets/data-tables/bootstrap3/dataTables.bootstrap.css" rel="stylesheet" />
    <!--page specific css styles-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;subset=vietnamese" rel="stylesheet">    <!--flaty css styles-->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/flaty.css">
    <link rel="stylesheet" href="~/Content/flaty-responsive.css">

    <link rel="shortcut icon" href="~/img/favicon.html">
    <link href="~/assets/noti/css/alertify.rtl.min.css" rel="stylesheet" />
    <link href="~/assets/noti/css/themes/semantic.rtl.min.css" rel="stylesheet" />
    <script src="~/assets/jquery/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-datepicker/css/datepicker.css" />
    <script src="~/Scripts/JsBarcode.all.min.js"></script>
    <script src="~/Scripts/function.js"></script>
    @{
        if (this.Session["Email"] == null)
        {
            <script>isLogin();</script>

        }
    }

    <script>
        $(document).ready(function () {
            $(document).ajaxStart(function () {
                $("#loading").show();
                $("#content-body").css({ opacity: 0.2 });
            });
            $(document).ajaxStop(function () {
                $("#loading").hide();
                $("#content-body").css({ opacity: 1 });


            });
            var isPopup = getParam("isPopup");
            if (isPopup) {
                $("#navbar").attr({ "hidden": "hidden" });
                document.getElementById("sidebar").outerHTML = "";
            }
            var [domain, controller, method] = getUrl();
            $("#" + method).addClass("active");
        });
    </script>
</head>

<body>


    <script src="~/Scripts/flaty-demo-codes.js"></script>
    <script src="~/Scripts/function.js"></script>
    <script src="~/assets/noti/alertify.min.js"></script>
    <script src="~/assets/noti/notify.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onLoad=onLoad" async defer></script>

    <script type="text/javascript" src="/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script> var ViewBag = @Html.Raw(Json.Encode(this.ViewBag));</script>
    <div style="text-align:center;"><img id="loading" src="~/img/loading.gif"></div>
    <div id="content-body">
        <div id="theme-setting">
            <a href="#"><i class="fa fa-gears fa fa-2x"></i></a>
            <ul>
                <li>
                    <span>Skin</span>
                    <ul class="colors" data-target="body" data-prefix="skin-">
                        <li class="active"><a class="blue" href="#"></a></li>
                        <li><a class="red" href="#"></a></li>
                        <li><a class="green" href="#"></a></li>
                        <li><a class="orange" href="#"></a></li>
                        <li><a class="yellow" href="#"></a></li>
                        <li><a class="pink" href="#"></a></li>
                        <li><a class="magenta" href="#"></a></li>
                        <li><a class="gray" href="#"></a></li>
                        <li><a class="black" href="#"></a></li>
                    </ul>
                </li>
                <li>
                    <span>Navbar</span>
                    <ul class="colors" data-target="#navbar" data-prefix="navbar-">
                        <li class="active"><a class="blue" href="#"></a></li>
                        <li><a class="red" href="#"></a></li>
                        <li><a class="green" href="#"></a></li>
                        <li><a class="orange" href="#"></a></li>
                        <li><a class="yellow" href="#"></a></li>
                        <li><a class="pink" href="#"></a></li>
                        <li><a class="magenta" href="#"></a></li>
                        <li><a class="gray" href="#"></a></li>
                        <li><a class="black" href="#"></a></li>
                    </ul>
                </li>
                <li>
                    <span>Sidebar</span>
                    <ul class="colors" data-target="#main-container" data-prefix="sidebar-">
                        <li class="active"><a class="blue" href="#"></a></li>
                        <li><a class="red" href="#"></a></li>
                        <li><a class="green" href="#"></a></li>
                        <li><a class="orange" href="#"></a></li>
                        <li><a class="yellow" href="#"></a></li>
                        <li><a class="pink" href="#"></a></li>
                        <li><a class="magenta" href="#"></a></li>
                        <li><a class="gray" href="#"></a></li>
                        <li><a class="black" href="#"></a></li>
                    </ul>
                </li>
                <li>
                    <span></span>
                    <a data-target="navbar" href="#"><i class="fa fa-square-o"></i> Fixed Navbar</a>
                    <a class="hidden-inline-xs" data-target="sidebar" href="#"><i class="fa fa-square-o"></i> Fixed Sidebar</a>
                </li>
            </ul>
        </div>
        <!-- END Theme Setting -->
        <!-- BEGIN Navbar -->
        <div id="navbar" class="navbar">
            <button type="button" class="navbar-toggle navbar-btn for-nav-horizontal collapsed" data-toggle="collapse" data-target="#sidebar">
                <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand" href="#">
                <small>
                    <i class="fa fa-desktop"></i>
                    FLATY Admin
                </small>
            </a>

            <!-- BEGIN Navbar Buttons -->
            <ul class="nav flaty-nav pull-right">
                <!-- BEGIN Button Tasks -->
                <li class="hidden-xs">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-tasks"></i>
                        <span class="badge badge-warning">4</span>
                    </a>

                    <!-- BEGIN Tasks Dropdown -->
                    <ul class="dropdown-navbar dropdown-menu">
                        <li class="nav-header">
                            <i class="fa fa-check"></i>
                            4 Tasks to complete
                        </li>

                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">Software Update</span>
                                    <span class="pull-right">75%</span>
                                </div>

                                <div class="progress progress-mini">
                                    <div style="width:75%" class="progress-bar progress-bar-warning"></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">Transfer To New Server</span>
                                    <span class="pull-right">45%</span>
                                </div>

                                <div class="progress progress-mini">
                                    <div style="width:45%" class="progress-bar progress-bar-danger"></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">Bug Fixes</span>
                                    <span class="pull-right">20%</span>
                                </div>

                                <div class="progress progress-mini">
                                    <div style="width:20%" class="progress-bar"></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">Writing Documentation</span>
                                    <span class="pull-right">85%</span>
                                </div>

                                <div class="progress progress-mini progress-striped active">
                                    <div style="width:85%" class="progress-bar progress-bar-success"></div>
                                </div>
                            </a>
                        </li>

                        <li class="more">
                            <a href="#">See tasks with details</a>
                        </li>
                    </ul>
                    <!-- END Tasks Dropdown -->
                </li>
                <!-- END Button Tasks -->
                <!-- BEGIN Button Notifications -->
                <li class="hidden-xs">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-important">5</span>
                    </a>

                    <!-- BEGIN Notifications Dropdown -->
                    <ul class="dropdown-navbar dropdown-menu">
                        <li class="nav-header">
                            <i class="fa fa-warning"></i>
                            5 Notifications
                        </li>

                        <li class="notify">
                            <a href="#">
                                <i class="fa fa-comment orange"></i>
                                <p>New Comments</p>
                                <span class="badge badge-warning">4</span>
                            </a>
                        </li>

                        <li class="notify">
                            <a href="#">
                                <i class="fa fa-twitter blue"></i>
                                <p>New Twitter followers</p>
                                <span class="badge badge-info">7</span>
                            </a>
                        </li>

                        <li class="notify">
                            <a href="#">
                                <img src="/img/demo/avatar/avatar2.jpg" alt="Alex" />
                                <p>David would like to become moderator.</p>
                            </a>
                        </li>

                        <li class="notify">
                            <a href="#">
                                <i class="fa fa-bug pink"></i>
                                <p>New bug in program!</p>
                            </a>
                        </li>

                        <li class="notify">
                            <a href="#">
                                <i class="fa fa-shopping-cart green"></i>
                                <p>You have some new orders</p>
                                <span class="badge badge-success">+10</span>
                            </a>
                        </li>

                        <li class="more">
                            <a href="#">See all notifications</a>
                        </li>
                    </ul>
                    <!-- END Notifications Dropdown -->
                </li>
                <!-- END Button Notifications -->
                <!-- BEGIN Button Messages -->
                <li class="hidden-xs">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-success">3</span>
                    </a>

                    <!-- BEGIN Messages Dropdown -->
                    <ul class="dropdown-navbar dropdown-menu">
                        <li class="nav-header">
                            <i class="fa fa-comments"></i>
                            3 Messages
                        </li>

                        <li class="msg">
                            <a href="#">
                                <img src="/img/demo/avatar/avatar3.jpg" alt="Sarah's Avatar" />
                                <div>
                                    <span class="msg-title">Sarah</span>
                                    <span class="msg-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>a moment ago</span>
                                    </span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </a>
                        </li>

                        <li class="msg">
                            <a href="#">
                                <img src="/img/demo/avatar/avatar4.jpg" alt="Emma's Avatar" />
                                <div>
                                    <span class="msg-title">Emma</span>
                                    <span class="msg-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>2 Days ago</span>
                                    </span>
                                </div>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ...</p>
                            </a>
                        </li>

                        <li class="msg">
                            <a href="#">
                                <img src="/img/demo/avatar/avatar5.jpg" alt="John's Avatar" />
                                <div>
                                    <span class="msg-title">John</span>
                                    <span class="msg-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>8:24 PM</span>
                                    </span>
                                </div>
                                <p>Duis aute irure dolor in reprehenderit in ...</p>
                            </a>
                        </li>

                        <li class="more">
                            <a href="#">See all messages</a>
                        </li>
                    </ul>
                    <!-- END Notifications Dropdown -->
                </li>
                <!-- END Button Messages -->
                <!-- BEGIN Button User -->
                <li class="user-profile">
                    <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                        <img class="nav-user-photo" src='@this.Session["Photo"]' alt="Penny's ifoto" />
                        <span class="hhh" id="user_info">
                            @this.Session["Email"]
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </a>

                    <!-- BEGIN User Dropdown -->
                    <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                        <li class="nav-header">
                            Đăng nhập lúc @Convert.ToDateTime(this.Session["LastLogin"]).ToString("dd/MM/yy hh:mm:ss")
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-cog"></i>
                                Account Settings
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i>
                                Edit Profile
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-question"></i>
                                Help
                            </a>
                        </li>

                        <li class="divider visible-xs"></li>

                        <li class="visible-xs">
                            <a href="#">
                                <i class="fa fa-tasks"></i>
                                Tasks
                                <span class="badge badge-warning">4</span>
                            </a>
                        </li>
                        <li class="visible-xs">
                            <a href="#">
                                <i class="fa fa-bell"></i>
                                Notifications
                                <span class="badge badge-important">8</span>
                            </a>
                        </li>
                        <li class="visible-xs">
                            <a href="#">
                                <i class="fa fa-envelope"></i>
                                Messages
                                <span class="badge badge-success">5</span>
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="#" onclick="btnLogout();">
                                <i class="fa fa-sign-out"></i>
                                Đăng xuất
                            </a>
                        </li>
                    </ul>
                    <!-- BEGIN User Dropdown -->
                </li>
                <!-- END Button User -->
            </ul>
            <!-- END Navbar Buttons -->
        </div>
        <!-- END Navbar -->
        <!-- BEGIN Container -->
        <div class="container" id="main-container">
            <!-- BEGIN Sidebar -->
            <div hidden="hidden" id="sidebar" class="navbar-collapse collapse">
                <!-- BEGIN Navlist -->
                <ul class="nav nav-list">
                    <!-- BEGIN Search Form -->
                    <!-- END Search Form -->
                    <li>
                        <a href="#">
                            <div id="clock">
                                <p class="time">{{ time }}</p>
                            </div>
                        </a>
                    </li>
                    <li id="Index">
                        <a href="/Home/Index">
                            <i class="fa fa-home"></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li id="SaleListByDay">
                        <a href="/Sale/SaleListByDay">
                            <i class="fa fa-money"></i>
                            <span>Báo cáo doanh số</span>
                        </a>
                    </li>
                    <li id="ProductCheckInventory">
                        <a onclick="btnShowProductCheckInventory();" href="#" type="button">
                            <i class="fa fa-paper-plane"></i>
                            <span>Kiểm kho</span>
                        </a>

                    </li>
                    <li id="SaleList">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>Quản lý bán hàng</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li id="SaleList"><a href="/Sale/SaleList">Đơn hàng</a></li>
                            <li id="SaleChart"><a href="/Sale/SaleChart">Biểu đồ thống kê</a></li>

                        </ul>
                        <!-- END Submenu -->
                    </li>
                    <li id="EmployeeList">
                        <a href="/Employee/EmployeeList">
                            <i class="fa fa-user"></i>
                            <span>Nhân viên</span>
                        </a>
                    </li>
                    <li id="CustomerList">
                        <a href="/Customer/CustomerList">
                            <i class="fa fa-user-circle"></i>
                            <span>Khách hàng</span>
                        </a>
                    </li>
                    <li id="VenderList">
                        <a href="/Vender/VenderList">
                            <i class="fa fa-database"></i>
                            <span>Nhà cung cấp</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-cubes"></i>
                            <span>Quản lý hàng hóa</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li id="ProductList"><a href="/Product/ProductList">Hàng hóa</a></li>
                            <li id="ProductGroupList"><a href="/Product/ProductGroupList">Nhóm hàng hóa</a></li>

                        </ul>
                        <!-- END Submenu -->
                    </li>
                </ul>
                <!-- END Navlist -->
                <!-- BEGIN Sidebar Collapse Button -->
                <div id="sidebar-collapse" class="visible-lg">
                    <i class="fa fa-angle-double-left"></i>
                </div>
                <!-- END Sidebar Collapse Button -->
            </div>
            <!-- END Sidebar -->
            <!-- BEGIN Content -->

            @RenderBody()

            <!-- Modal -->
            <div class="modal fade" id="modalLoadUrl" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">



                    </div>

                </div>
            </div>

            <!-- END Content -->
        </div>
    </div>
    <!-- BEGIN Theme Setting -->
    <!-- END Container -->
    <!--basic scripts-->
    <style>
    </style>
    <script>window.jQuery || document.write('<script src="assets/jquery/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/jquery-cookie/jquery.cookie.js"></script>

    <!--page specific plugin scripts-->
    <script src="~/assets/flot/jquery.flot.js"></script>
    <script src="~/assets/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/flot/jquery.flot.pie.js"></script>
    <script src="~/assets/flot/jquery.flot.stack.js"></script>
    <script src="~/assets/flot/jquery.flot.crosshair.js"></script>
    <script src="~/assets/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/assets/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/assets/data-tables/jquery.dataTables.js"></script>
    <script src="~/assets/data-tables/bootstrap3/dataTables.bootstrap.js"></script>
    <script src="~/assets/Print/print.min.js"></script>
    <script src="~/Scripts/JsBarcode.all.min.js"></script>
    <!--flaty scripts-->
    <script src="~/Scripts/flaty.js"></script>
    <script src="~/Scripts/flaty-demo-codes.js"></script>
    <script src="~/Scripts/sweetalert.all.js"></script>
    <script src="~/Scripts/Clock.js"></script>
    <script src="~/assets/vue/vue.js"></script>
    <script src="~/Scripts/function.js"></script>
</body>
</html>
<script>
    function btnShowProductCheckInventory() {
        this.openPopup({
            url: "/Product/ProductCheckInventory",
            parameter: "width=800,height=800,top=0"
        });
    }
</script>
