
@{
    ViewBag.Title = "ProductGroupList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main-content">
    <!-- BEGIN Page Title -->
    <!-- END Page Title -->
    <!-- BEGIN Breadcrumb -->
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Home/Index">Trang chủ</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active">Nhóm hàng hóa</li>
        </ul>
    </div>
    <!-- END Breadcrumb -->
    <!-- BEGIN Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-table"></i> THÔNG TIN</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="btn-toolbar pull-right clearfix">
                        <div class="btn-group">
                            <a class="btn btn-circle show-tooltip" onclick="btnAdd(); return false;" title="Thêm" href="#"><i class="fa fa-plus"></i></a>
                        </div>
                        
                    </div>
                    <br /><br />
                    <div class="clearfix"></div>
                    <div class="table-responsive" style="border:0">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Mã nhóm</th>
                                    <th>Tên nhóm</th>
                                    <th>Ghi chú</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in this.ViewBag.Result)
                                {
                                    <tr class="table-flag-blue">
                                        <td>@item.ProductGroupId</td>
                                        <td>@item.ProductGroupName</td>
                                        <td>@item.Remark</td>
                                        <td>
                                            <a title="Sửa" href="#" onclick="btnEdit(@item.ProductGroupId);" type="button" class="btn btn-default btn-sm"><span class="fa fa-pencil-square-o"></span></a>
                                            <a title="Xóa" href="#" onclick="btnDelete(@item.ProductGroupId); return false;" type="button" class="btn btn-default btn-sm"><span class="fa fa-trash-o"></span></a>
                                            @if (this.ViewBag.isPopup)
                                            {
                                                <a title="Chọn" href="#" onclick="window.opener.AddData(@item.ProductGroupId,'@item.ProductGroupName'); window.close();" type="button" class="btn btn-default btn-sm"><span class="fa fa-check"></span></a>
                                            }
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Main Content -->

    <footer>
        <p>2013 © FLATY Admin Template.</p>
    </footer>

    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<script>
    function btnDelete(id) {
        swal({
            title: 'Bạn có chắc chắn muốn xóa, #' + id + ' ?',
            text: "Sau khi xóa không thể khôi phục lại dữ liệu!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xác nhận xóa!',
            cancelButtonText: 'Hủy bỏ'
        }).then((result) => {
            if (result.value) {
                $.post(
                    "/Product/ProductGroupExecuteDeleteById",
                    {
                        CommandAction: {
                            ProductGroupId: id
                        }
                    }, function (result) {
                        swal({
                            title: 'THÔNG BÁO!',
                            text: result.Message,
                            type: result.IsSuccess == true ? 'success' : 'error',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Xác nhận!'
                        }).then((result) => {
                            window.location.reload();
                        })
                    }
                );
            }
        })
    }
    function btnEdit(id) {
        openPopup({
            url: "/Product/ProductGroupInput?CommandAction.ProductGroupId=" + id,
            parameter: "width=800,height=800,top=0"
        });
    }
    function btnAdd() {
        openPopup({
            url: "/Product/ProductGroupInput",
            parameter: "width=800,height=800,top=0"
        });
    }
</script>
