
@{
    ViewBag.Title = "SaleListByDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
    <!-- BEGIN Page Title -->
    <!-- END Page Title -->
    <!-- BEGIN Breadcrumb -->
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">Trang chủ</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active">Báo cáo hôm nay</li>
        </ul>
    </div>
    <!-- END Breadcrumb -->
    <!-- BEGIN Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-table"></i> Báo cáo hôm nay</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>

                </div>
                <div class="box-content">
                    <div class="btn-toolbar pull-right clearfix">
                        <div class="btn-group">
                            <a class="btn btn-circle show-tooltip" onclick="SalePrintPDF();" title="In PDF" href="#"><i class="fa fa-file-pdf-o"></i></a>
                            <a class="btn btn-circle show-tooltip" title="Export to Exel" href="@Url.Action("ExportExcel1", "Sale")"><i class="fa fa-table"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-circle show-tooltip" title="Refresh" href="#"><i class="fa fa-repeat"></i></a>
                        </div>
                    </div>
                    <br /><br />
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">Ngày</label>
                        <div class="col-sm-5 col-lg-3 controls">
                            <div class="input-group date date-picker" data-date="" data-date-viewmode="years">
                                <input id="dtpicker" name="SaleDate" class="form-control date-picker" size="16" type="text">
                            </div>
                        </div>
                    </div>
                        <a title="Xem" href="#" onclick="btnView();" type="button" class="btn btn-default btn-sm"><span class="fa fa-eye"></span></a>
                
                    
                    <div class="table-responsive" style="border:0">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Mã</th>
                                    <th>Ngày</th>
                                    <th>Khách hàng</th>
                                    <th>Nhân viên bán hàng</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in this.ViewBag.Result)
                                {

                                    <tr class="table-flag-blue">
                                        <td>@item.SaleId</td>
                                        <td>@Convert.ToDateTime(item.SaleDate).ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <a href="#" onclick="popupCustomerInput(@item.CustomerId);">@item.CustomerName</a>
                                        </td>
                                        <td>
                                            <a href="#" onclick="popupEmployeeInput(@item.EmployeeId);">@item.EmployeeName</a>
                                        </td>
                                        <td>@Convert.ToInt32(item.Qty).ToString("#,##0")</td>
                                        <td>@Convert.ToInt32(item.Total).ToString("#,##0")</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total</td>
                                    <td>@ViewBag.Total.ToString("#,##0")</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Main Content -->

    <footer>
        <p>2013 © FLATY Admin Template.</p>
    </footer>

    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<script>
    function btnView() {
        var id = document.getElementById("dtpicker").value;
        //alert("HTML Markup:\n" + id);
        this.openPopup({
            url: '/Sale/SaleListByOtherday?CommandAction.dt=' + id
        });
    }
</script>