
@{
    ViewBag.Title = "SaleView";
    Layout = "~/Views/Shared/_LayoutInput.cshtml";
}

<div id="main-content">
    <!-- BEGIN Page Title -->
    <div class="page-title">
        <div>
            <h1><i class="fa fa-eye"></i> XEM ĐƠN HÀNG</h1>
        </div>
    </div>
    <!-- END Page Title -->
    <!-- BEGIN Breadcrumb -->
    
    <!-- END Breadcrumb -->
    <!-- BEGIN Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-table"></i> THÔNG TIN ĐƠN HÀNG</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="btn-toolbar pull-right clearfix">
                        <div class="btn-group">
                            <a class="btn btn-circle show-tooltip" onclick="btnAddProduct();" title="Add new record" href="#"><i class="fa fa-plus"></i></a>
                        </div>
                        
                        <div class="btn-group">
                            <a class="btn btn-circle show-tooltip" title="Lưu" onclick="btnSave();" href="#"><i class="fa fa-save"></i></a>
                        </div>
                    </div>
                    <br /><br />
                    <div class="clearfix"></div>
                    <div class="table-responsive" style="border:0">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th style="width:18px"><input type="checkbox" /></th>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Giá bán</th>
                                    <th>Tổng tiền</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="body-table">
                                @foreach (var item in this.ViewBag.Result)
                                {
                                    <tr class="table-flag-blue">
                                        <td><input type="checkbox" /></td>
                                        <td id="ProductId">@item.ProductId</td>
                                        <td>
                                            <a href="#" onclick="btnProductNameClick(@item.ProductId);">@item.ProductName</a>
                                        </td>
                                        <td>@item.Qty</td>
                                        <td>@item.Price</td>
                                        <td>@item.Total</td>
                                        <td>
                                            <a title="Xóa" href="#" onclick="btnDelete(@item.SaleItemId);" type="button" class="btn btn-default btn-sm"><span class="fa fa-trash-o"></span></a>
                                        </td>
                                      </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Main Content -->

    <footer>
        <p>2013 © FLATY Admin Template.</p>
    </footer>

    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>

<script>
    var ViewData = JSON.parse(this.ViewBag.ResultJson.Content);
    function btnDelete(id) {
        if (id) {
            $.post(
                '/Sale/SaleItemExecuteDeleteById',
                {
                    CommandAction: {
                        SaleItemId:id
                    }
                },
                function (result) {
                    if (result.IsSuccess) {
                        noti(result.Message);
                        window.location.reload();
                    }
                    else {
                        noti(result.Message, 'error');
                    }
                }
            );
        }
    }
    function btnSave() {
        if (ViewData.Data.length > 0) {
            $.post(
                '/Sale/SaleItemExecuteSave',
                {
                    CommandAction: {
                        Item : ViewData.Data
                    }
                },
                function (result) {
                    callback(result);
                }
            );
        }
    }


    function addTable(id) {
        var table = $("#body-table");
        $.post(
            '/Product/ProductGetById',
            {
                CommandAction: {
                    ProductId : id
                }
            },
            function (result) {
                var res = result;
                result = result.Data[0];
                if (res.IsSuccess) {
                    var flag = false;
                    for (key in ViewData.Data) {
                        var value = ViewData.Data[key];
                        if (value.ProductId == result.ProductId) {
                            value.Qty++;
                            value.Total += result.Price;
                            flag = true;
                            break;
                        }
                    }
                    if (!flag) {
                        result.SaleId = getParam("CommandAction.SaleId");
                        result.Qty = 1;
                        result.Total = result.Price;
                        ViewData.Data.push(result);
                    }
                    table[0].innerHTML = '';
                    $.each(ViewData.Data, function (k,v) {
                        table[0].innerHTML += '<tr class="table-flag-blue"> <td><input type="checkbox"/></td><td>' + v.ProductId + '</td><td> <a href="#">' + v.ProductName + '</a> </td><td>' + v.Qty + '</td><td>' + Format(v.Price) + '</td><td>' + Format(v.Total) + '</td><td> <a title="Xóa" href="#" onclick="" type="button" class="btn btn-default btn-sm"><span class="fa fa-trash-o"></span></a> </td></tr>';
                    });
                } else {
                    noti(res.Message, 'error');
                }
            }
        );
    }

    function btnProductNameClick(id) {
        openPopup({
            url : '/Product/ProductInput?CommandAction.ProductId='+id
        });
    }

    function btnAddProduct() {
        openPopup({
            url: '/Product/ProductList',
            param: {},
            isPopup : true
        });
    }
</script>
